.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    border-radius: 150px;
  }
}

.App-header {
  background-color: #7484a3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(126, 6, 76);
}

.App-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #071d24;
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 1.3px;
  font-style: italic;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}